<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/user/signup" method="POST">
      <!-- id -->
      <label for="id">id:</label>
      <input type="number" id="id" name="id" />
      <!-- username -->
      <label for="username">username:</label>
      <input type="text" id="username" name="username" />
      <!-- password -->
      <label for="password">password:</label>
      <input type="password" id="password" name="password" />
      <!-- email -->
      <label for="email">email:</label>
      <input type="email" id="email" name="email" />
      <!-- button -->
      <button>sign up</button>
    </form>
  </body>
</html>
